            
            body {
                background-color: black;
                color: white;
                font-family: Arial, Helvetica, sans-serif;
                background: linear-gradient(-45deg, black, rgb(83, 70, 0));
                background-size: 400% 400%;
                animation: gradient 15s ease infinite;
                height: 100vh;
            }

            .move-emoji{
                height: 90px;

            }
            
            @keyframes handShake {
            0%,100% { transform: rotate(10deg); }
            50% { transform: rotate(-10deg); }
            }

            

            h1 {
                text-align: center;
                font-size: 50px;
            }

            .move-image {
                background-color: transparent;
                /*border: 1px solid white;*/
                border: none;
                cursor: pointer;
                animation: handShake 2s infinite;
                
            }

            .choices {
                display: flex;
                justify-content: center;   /* center as a group */
                align-items: center;
                gap: 30px;                 /* space between buttons */
                margin-top: 50px;
                margin-bottom: 50px;
            }

            .move-image:active {
                transform: scale(0.97);
            }

            .texts {
                text-align: center;
                font-size: 23px;
            }

            .reset {
                display: block;
              
                padding-top: 10px;
                padding-bottom:10px;
                padding-left: 20px;
                padding-right: 20px;
                border-radius: 50px;
                cursor: pointer;
                font-size: 18px;
            }

            

            .reset:hover{
                background-color: bisque;
                transform: scale(1.05);
            }

            .pick{
                text-align: center;
                font-size: 20px;
            }

            .moves{
                displaY: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                max-width: 500px;   /* optional but recommended */
                margin: auto;
            }

            .js-score{
                font-size : 30px
            }

            #js-result{
                font-size: 35px;
            }


            @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
             }

             .link{
                text-align: center;
                font-size: 25px;
             }

             #linkBox{
                font-size: 20px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 20px auto; 
             }

            .scores {
                display: flex;
                justify-content: center;   /* center as a group */
                align-items: center;
                gap: 300px;                 /* space between buttons */

                margin-bottom: 50px;
            }

            .resetButtons {
                display: flex;
                justify-content: center;   /* center as a group */

                               /* space between buttons */

                margin-bottom: 50px;
            }


            .Player{
                text-align: center;
                font-size: 30px;
            }

            
            .reset-ai {
                display: block;
                margin: 0 auto;
                padding-top: 10px;
                padding-bottom:10px;
                padding-left: 20px;
                padding-right: 20px;
                border-radius: 50px;
                cursor: pointer;
                font-size: 18px;
            }
