            
            body {
                background-color: black;
                color: white;
                font-family: Arial, Helvetica, sans-serif;

            }

            .move-emoji{
                height: 90px;

            }

            

            h1 {
                text-align: center;
            }

            .move-image {
                background-color: transparent;
                /*border: 1px solid white;*/
                border: none;
                cursor: pointer;
                
            }

            .choices {
                display: flex;
                justify-content: center;   /* center as a group */
                align-items: center;
                gap: 30px;                 /* space between buttons */
                margin-top: 50px;
                margin-bottom: 50px;
            }

            .move-image:active {
                transform: scale(0.97);
            }

            .texts {
                text-align: center;
                font-size: 23px;
            }

            .reset {
                display: block;
                margin: 0 auto;
                padding-top: 10px;
                padding-bottom:10px;
                padding-left: 20px;
                padding-right: 20px;
                border-radius: 50px;
                cursor: pointer;
                font-size: 18px;
            }

            .reset:active{
                transform: scale(0.97);
            }

            .reset:hover{
                background-color: bisque;
            }

            .pick{
                text-align: center;
                font-size: 20px;
            }

            .moves{
                displaY: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                max-width: 500px;   /* optional but recommended */
                margin: auto;
            }

            .js-score{
                font-size : 30px
            }
